.deps
.libs
*.o
*.lo
Makefile
Makefile.in
stamp-h1
depcomp
configure
config.sub
config.log
config.h
config.h.in
config.guess
aclocal.m4
autom4te.cache
compile
config.status
docs/html
install-sh
libtool
ltmain.sh
missing
nestegg-uninstalled.pc
nestegg.pc
libnestegg.la
docs/doxygen-build.stamp
docs/Doxyfile
*~
test/test
_stdint.h
src/.dirstamp
