name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install Dependencies
      run: sudo apt-get install doxygen

    - name: Generate build files
      run: autoreconf -i

    - name: Configure
      run: ./configure

    - name: Build & Check
      run: make check

